@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
    .parent:hover .child {
      opacity: 1;
      height: auto;
      overflow: none;
      transform: translateY(0);
    }
  
    .child {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transform: translateY(10%);
    }
  }
  
  body {
    background: #fff;
  }
  
  .toggle-inactive {
    transition: 0.3s;
    overflow: hidden;
    max-height: 0;
    width: 91.666667%;
    position: fixed;
    z-index: 30;
    background: #F8F9F9;
    margin-left: auto;
    margin-right: auto;
  }
  .toggle-active {
    transition: 1s;
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 30;
    width: 91.666667%;
    margin: auto;
    background: #F8F9F9;
    margin-left: auto;
    margin-right: auto;
  }
  
  .inactive:hover , .active:hover {
    cursor: pointer;
  }
  
  .inactive > ul {
    transition: 0.4s;
    max-height: 0;
    font-size: 13px;
    font-family: Poppins,sans-serif;
    overflow: hidden;
    font-weight: 500;
  }
  
  .active > ul {
    transition: 1s;
    max-height: 100vh;
    font-family: Poppins,sans-serif;
    font-size: 13px;
    overflow: hidden;
    font-weight: 500;
    
  }